body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 50px;
}
p{
    color: dimgray;

}

.orange-highlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
  
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px ;
    border-radius: 5 px;
    color: white;
    font-weight: 700;

}



.single-experience{

    box-shadow: 2px 2px 5px  gray;
    border-radius: 10px;
    height: 70%;
    background-color: white;
    width: 25%;
    
    
    
}

.project{
    text-align: center;
}


.img-portion{
    width: 100%;
    height: 200px;
    padding-top: 100px;
    border-radius: 10px;
}

.half-width-1{
    width: 5%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width-2{
    width: 70%;
    float: left;
    padding-left: 2%;
    margin-left: 15%;
}
.decoration{

    position: absolute;
    margin-top: 200px;
    left: 27%;
    color: white;
}
 .chat{
     position: absolute;
     margin-top: 200px;
     right: 25%;
 }
